<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tallpixel.mobile"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="auto" >

    <uses-sdk android:minSdkVersion="9" />
    <uses-sdk android:targetSdkVersion="10" />
    
    <!-- Hide app from tablets in the market -->
    <supports-screens android:xlargeScreens="false" />
    
    <!-- Add the internet permission for Flurry analytics -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BACAppTheme" >
        <activity
            android:name=".TheBACAppActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>